@font-face {
    font-family: 'Pluto';
    src: url('../fonts/Pluto_Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto';
    src: url('../fonts/Pluto_Bold.otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto';
    src: url('../fonts/Pluto_Italic.otf');
    font-weight: normal;
    font-style: italic;
}