$azul-escuro: #006ca4;
$azul-claro: #4bc9f3;
$laranja: #f5957c;
$roxo: #8b84b6;
$branco: #ffffff;
$cinza-escuro: #797979;
$cinza-claro: #f3f3f3;

/*------------------------------------*\
  CABEÇALHO
\*------------------------------------*/
.cabecalho {
    background-color: $branco;
    padding: 0 15px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.cabecalho__hamburger {
    color: $azul-escuro;
    font-size: 2.2em;
    opacity: 0.55;
    text-align: center;
}

.cabecalho__hamburger__icon {
    cursor: pointer;
}

.cabecalho__logo {
    height: 40px;
    width: 130px;
    background-size: contain;
    margin: 0 auto;
}

.cabecalho__usuario {
    text-align: right;
    padding-right: 20px;
}

.cabecalho__usuario > a {
    color: $cinza-escuro;
}

.cabecalho__usuario > a > span {
    padding-right: 4px;
}

.cabecalho__usuario__menu--item {
    line-height: 32px;
    height: 32px;
    padding: 0 15px;
}

.cabecalho__usuario__menu--item > a {
    color: $cinza-escuro;
}

@media (max-width: 991.98px) {
    .cabecalho__logo {
       width: 90%;
    }

    .cabecalho__usuario {
        padding-right: 0;
    }
}