<header class="cabecalho" id="app-header">
  <div class="row align-items-center">
    <div class="col-2 col-md-1 cabecalho__hamburger">
      <fa-icon icon="bars" (click)="controlarSidenav()" class="cabecalho__hamburger__icon"></fa-icon>
    </div>
    <div class="col-5 col-md-2 col-lg-3 col-xl-2">
      <div class="cabecalho__logo cabecalho__logo">
      </div>
    </div>
    
    <div class="ml-auto col-md-3 col-xl-2 hidden-sm-down">
      <div class="cabecalho__usuario">
        <a href="javascript:void(0);">
          <span>Olá,
            <b>Administrador</b>
          </span>
          <fa-icon icon="angle-down"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</header>
